body {
    align-items: center;
    background-color: antiquewhite;
}

.container {
    background-color: antiquewhite;
    border: 0px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}

.e {
    background-color: antiquewhite;
    border: 0px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 90px;

}

.a,
.b,
.c {
    height: fit-content;
    width: fit-content;
    display: flex;
}

div {
    background-color: aquamarine;
    /*border: 1px solid black;*/
    height: 100px;
    width: 100px;
}

.bonus {
    background-color: red;
    /*border: 1px solid black;*/
    border-radius: 500px;
    height: 500px;
    width: 500px;
    /*margin-left: 90px;*/
    margin-top: 90px;
}